main {
  padding: 1.5em;
}

.detail-wrap {
  margin: auto;
  margin-bottom: 2.2em;
}

.detail-img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.detail-arti {
  padding: 2em;
}

.detail-arti h1 {
  font-size: 2.2em;
  line-height: 1.5;
  font-weight: 300;
  color: #e74c3c;
  margin-bottom: 1em;
}

.detail-arti p {
  font-size: 1.15em;
  line-height: 1.6;
  color: #5d5d5d;
  margin-bottom: 2em;
}

.pre-page {
  position: fixed;
  top: 50%;
  left: 0.3em;
  background-color: #ffffff;
  border-radius: 50%;
}

.pre-page::before {
  content: "";
  display: block;
  background-image: url(./assets/leftarrow-red.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
}

.next-page {
  position: fixed;
  top: 50%;
  right: 0.3em;
  background-color: #ffffff;
  border-radius: 50%;
}

.next-page::before {
  content: "";
  display: block;
  background-image: url(./assets/rightarrow-red.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
}

.change-page a span {
  position: absolute;
  z-index: -1000;
  visibility: hidden;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  main {
    padding: 2em;
  }

  .detail-arti h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }

  .pre-page,
  .next-page {
    padding: 0.5em;
  }

  .pre-page::before,
  .next-page::before {
    width: 3em;
    height: 3em;
  }
}

@media screen and (min-width: 960px) {
  .detail-wrap {
    max-width: 55em;
  }

  .detail-arti p {
    font-size: 1.1em;
  }

  .pre-page::before,
  .next-page::before {
    width: 4em;
    height: 4em;
  }
}
