* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Raleway", sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* .sr-only {
  position: absolute;
  z-index: -1000;
  width: 1px;
  height: 1px;
  overflow: hidden;
} */

.wrap {
  position: relative;
}

/* Header */
.header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo {
  position: absolute;
  z-index: -1000;
}

.navigation {
  background-color: white;
  padding: 20px;
}

.navigation ul li:nth-child(2)::before,
.navigation ul li:nth-child(3)::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #a7a7a7;
  margin: 10px 0;
}

.signup-btn {
  display: block;
  background-color: #575757;
  color: white;
  margin-top: 30px;
  border-radius: 30px;
  width: 120px;
  text-align: center;
  padding: 10px 0;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(assets/dark_tint.png),
    url(assets/bokeh_car_lights_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  color: #ffffff;
  padding: 128px 32px;
}

.banner-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
}

.banner p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 32px;
}

.banner a {
  width: 75%;
  font-size: 21px;
  padding: 15px;
  border-radius: 30px;
  background-color: #40afd5;
  text-align: center;
}

/* Main01 */
.main01-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  text-align: center;
  padding: 60px 15px 10px 15px;
}

.main01-title {
  font-size: 32px;
  margin-bottom: 32px;
}

.main01-desc {
  font-size: 20px;
  margin-bottom: 60px;
  color: #858585;
}

.main-cards div {
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  margin-bottom: 32px;
  padding: 40px;
}

.main-cards div:first-child::before {
  content: "";
  display: inline-block;
  background-image: url(assets/flower1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.main-cards div:nth-child(2):before {
  content: "";
  display: inline-block;
  background-image: url(assets/flower2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.main-cards div:nth-child(3)::before {
  content: "";
  display: inline-block;
  background-image: url(assets/flower3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.main-cards div h4 {
  font-size: 21px;
  color: #858585;
  margin-bottom: 20px;
}

.main-cards div p {
  font-size: 16px;
  color: #444444;
}

@media screen and (min-width: 768px) {
  /* Header */

  /* Banner */
  .banner a {
    width: 280px;
  }

  /* Main01 */
  .main01-content {
    padding: 90px 50px 60px;
  }

  .main01-title {
    font-size: 44px;
    margin-bottom: 22px;
  }

  .main01-desc {
    font-size: 22px;
  }

  .main-cards {
    display: flex;
  }

  .main-cards div {
    margin: 0 15px;
    padding: 40px 35px;
    width: 33%;
  }

  .main-cards div h4 {
    font-size: 20px;
  }

  .main-cards div p {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  /* Header */
  .header {
    width: 100%;
  }

  .logo {
    z-index: 1;
    top: 20px;
    left: 30px;
    color: white;
    font-size: 20px;
  }

  .logo:hover {
    text-decoration: underline;
  }

  .navigation {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.5);
    padding: 0;
  }

  .navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation ul li {
    margin-right: 20px;
  }

  .navigation ul li:nth-child(2)::before,
  .navigation ul li:nth-child(3)::before {
    content: "";
    display: none;
  }

  .hover-li:hover {
    color: #ffffff;
  }

  .signup-btn {
    margin: 0;
    width: 100px;
    padding: 7px 0;
    background-color: #ffffff;
    color: rgb(68, 68, 68);
  }
  /* Banner */
  .banner {
    padding: 200px 32px;
  }

  .banner-title {
    font-size: 58px;
    margin-bottom: 30px;
  }

  .banner p {
    font-size: 22px;
    margin-bottom: 38px;
  }

  /* Main01 */
  .main01-content {
    padding-left: 130px;
    padding-right: 130px;
  }

  .main-cards div {
    margin: 0 20px;
  }
}
