* {
  box-sizing: border-box;
  margin: 0;
}

/* Reset CSS */
body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

body {
  background: linear-gradient(#5f4d93 60%, #e37682);
  font-size: 14px;
}

br {
  display: none;
}

h2,
h3,
p,
a {
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  letter-spacing: -0.025em;
  color: #636363;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1em;
}

/* Header */
header {
  padding: 3.5em 1em 0.5em 1em;
  text-align: center;
}

.header-title {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.025em;
  margin-bottom: 0.2em;
}

.header-title::before {
  content: "";
  display: block;
  background-image: url(assets/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto 0.5em;
}

.header-desc {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2em;
}

.links {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: dotted 1px;
}

.links:hover {
  border-bottom: none;
  color: rgba(255, 255, 255, 1);
}

/* Main */
main {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

nav {
  display: none;
}

.sec-01,
.sec-02,
.sec-03,
.sec-04 {
  padding: 3em 1.2em 1em 1.5em;
  border-bottom: 1px solid #dedede;
}

.sec-01-img {
  width: 12em;
  border-radius: 50%;
  margin-bottom: 2em;
}

.sec-01-title::after,
.sec-02-title::after,
.sec-03-title::after,
.sec-04-title::after {
  content: "";
  display: block;
  width: 3.5em;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(to right, #efa8b0, #a89cc8, #8cc9f0);
  margin: 1em auto;
}

.sec-01 p {
  margin-bottom: 1.8em;
}

.btn {
  display: block;
  width: 100%;
  line-height: 3em;
  border: 1px solid #dedede;
  border-radius: 8px;
  letter-spacing: 0;
  margin-bottom: 2em;
}

.cards {
  margin-bottom: 2em;
}

.cards h3::before {
  content: "";
  display: block;
  width: 5em;
  height: 5em;
  background-image: url(assets/heart-r.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em auto;
}

.sec-03-desc,
.sec-04-desc {
  margin-bottom: 1.5em;
}

.sec-03-list {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.8em;
}

.sec-03-list li {
  padding: 1.5em;
}

.sec-03-list li::before {
  content: "";
  display: block;
  width: 6em;
  height: 6em;
  background-image: url(assets/heart-b.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5em auto;
}

.sec-03-list li strong {
  display: block;
  line-height: 1.1;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: -0.025em;
  color: #ffffff;
}

.sec-03-list li span {
  color: #ffffff;
  font-weight: 300;
}

.sec-03-list li:first-child {
  background-color: #efa8b0;
}

.sec-03-list li:nth-child(2) {
  background-color: #c79cc8;
}

.sec-03-list li:nth-child(3) {
  background-color: #a89cc8;
}

.sec-03-list li:nth-child(4) {
  background-color: #9bb2e1;
}

.sec-03-list li:last-child {
  background-color: #8cc9f0;
}

.sec-03-text {
  text-align: justify;
  margin-bottom: 1.5em;
}

.btn-plus {
  border: none;
  background-color: #8cc9f0;
  margin-bottom: 1em;
  color: #ffffff;
  transition: opacity 300ms ease-in-out;
}

.btn-plus:hover {
  opacity: 0.9;
}

/* Footer */

footer {
  padding: 3em 1.2em 6em 1.5em;
}

.footer-title,
.footer-dl dt {
  color: #ffffff;
}

.footer-desc,
.footer-dl dd,
footer a,
footer span {
  color: rgba(255, 255, 255, 0.7);
}

.footer-desc {
  margin-bottom: 2em;
}

.footer-btn {
  text-align: center;
  color: #ffffff;
}

.footer-dl {
  margin-bottom: 3em;
}

.footer-dl dt {
  display: block;
  width: 3em;
  margin: 0;
  clear: left;
  float: left;
}

.footer-dl dd {
  margin: 0 0 0.85em 5.5em;
  font-weight: 300;
}

.footer-dl dd a {
  border-bottom: 1px dotted #ffffff;
}

.footer-dl dd a:hover {
  border-bottom: none;
  color: #ffffff;
  transition: color 300ms ease-in-out;
}

.icon-list {
  display: flex;
  margin-bottom: 3em;
}

.icon-name {
  position: absolute;
  z-index: -1000;
  visibility: hidden;
}

.icon-list li:first-child a::before {
  content: "";
  display: block;
  background-image: url(assets/twitter.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  margin-right: 0.8em;
}

.icon-list li:nth-child(2) a::before {
  content: "";
  display: block;
  background-image: url(assets/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  margin-right: 0.8em;
}

.icon-list li:nth-child(3) a::before {
  content: "";
  display: block;
  background-image: url(assets/instagram.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  margin-right: 0.8em;
}

.icon-list li:last-child a::before {
  content: "";
  display: block;
  background-image: url(assets/linkedin.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
  padding: 0.5em;
}

.coryright {
  opacity: 0.7;
  font-size: 0.8em;
  line-height: 1;
}

@media screen and (min-width: 360px) {
  .wrap {
    max-width: calc(100% - 4em);
    margin: 0 auto;
    font-size: 16px;
  }

  /* Header */
  header {
    padding: 4em 2em 1em 2em;
  }

  .header-title::before {
    width: 2.2em;
    height: 2.2em;
  }

  .header-desc {
    letter-spacing: 0;
  }

  /* Main */
  main {
    border-radius: 5px;
  }

  .sec-01,
  .sec-02,
  .sec-03,
  .sec-04 {
    padding: 3em 2em 1em 2em;
  }

  .btn {
    width: 8em;
    line-height: 2.5em;
    margin: 0 auto 2em;
  }

  .sec-03-list {
    max-width: 22em;
    margin: 0 auto 2em auto;
  }

  .btn-wrap {
    display: flex;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
  }

  .btn-wrap .btn {
    margin: 0;
  }
  .btn-wrap .btn-plus {
    margin-right: 1em;
  }

  /* Footer */

  footer {
    padding: 3em 2em 1em 2em;
    margin-bottom: 5em;
  }

  .footer-btn {
    margin-left: 0;
    margin-bottom: 3em;
  }

  .footer-dl {
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  br {
    display: inline;
  }

  /* Header */
  header {
    padding: 5em 3em 2em 3em;
  }

  .header-title {
    font-size: 3.25em;
  }

  .header-title::before {
    width: 1.6em;
    height: 1.6em;
  }

  .header-desc {
    font-size: 1.2em;
    line-height: 1.8;
  }

  /* Main */
  nav {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 0 2em;
  }

  .sec-01 {
    padding: 8em 3em 2em 3em;
  }

  .sec-02,
  .sec-03,
  .sec-04 {
    padding: 4em 3em 2em 3em;
  }

  .sec-01-img {
    width: 15em;
  }

  .sec-01-title,
  .sec-02-title,
  .sec-03-title,
  .sec-04-title {
    font-size: 2em;
  }

  .card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards {
    padding: 1.5em;
    width: 50%;
  }

  .sec-03-desc,
  .sec-04-desc {
    font-size: 1.25em;
  }

  .sec-03-list {
    flex-direction: row;
    max-width: 100%;
  }

  .sec-03-list li {
    width: 20%;
  }

  .sec-03-list li::before {
    width: 3em;
    height: 3em;
    margin: 0 auto 0.5em;
  }

  .sec-03-list li strong {
    font-size: 1.5em;
  }

  .sec-03-list li span {
    font-size: 0.9em;
  }

  .sec-03-text {
    columns: 20em 2;
    column-gap: 2em;
  }

  /* Footer */
  footer {
    padding: 4em 3em 2em 3em;
  }

  .footer-desc {
    line-height: 1.8;
    letter-spacing: 0.01em;
  }
}
