* {
  box-sizing: border-box;
  margin: 0;
}

/* Reset CSS */
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

/* Header */
.header {
  width: 100%;
  background-image: url(assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  padding: 120px 20px;
}

.header-title {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.header-title::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #ffffff;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.header-desc {
  font-size: 10px;
  line-height: 1.8;
  letter-spacing: 0.25em;
  margin-bottom: 18px;
}

.start-btn {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.25em;
  border: 2px solid #ffffff;
  padding: 10px;
}

.start-btn::after {
  content: "";
  display: inline-block;
  background-image: url(assets/arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 40px;
  height: 10px;
  margin: 0 5px;
}

.start-btn:hover {
  border-color: #1abc9c;
  color: #1abc9c;
}

.start-btn:hover::after {
  background-image: url(assets/arrow-hover.png);
}

/* Main-01 */

.one {
  position: relative;
  background-image: url(assets/pic01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one::before {
  content: "";
  background-color: #6fc3df;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}

.one:hover::before {
  opacity: 0;
}

.two {
  position: relative;
  background-image: url(assets/pic02.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.two::before {
  content: "";
  background-color: #b68ccc;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}

.two:hover::before {
  opacity: 0;
}

.three {
  position: relative;
  background-image: url(assets/pic03.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.three::before {
  content: "";
  background-color: #e98c65;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}

.three:hover::before {
  opacity: 0;
}

.four {
  position: relative;
  background-image: url(assets/pic04.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.four::before {
  content: "";
  background-color: #f2ce99;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  transition: all 500ms ease-in-out;
}

.four:hover::before {
  opacity: 0;
}

.five {
  position: relative;
  background-image: url(assets/pic05.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.five::before {
  content: "";
  background-color: #8ec5d9;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}

.five:hover::before {
  opacity: 0;
}

.six {
  position: relative;
  background-image: url(assets/pic06.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.six::before {
  content: "";
  background-color: #93d9a5;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}

.six:hover::before {
  opacity: 0;
}

.card {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  padding: 80px 15px;
}

.main-01-title {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  z-index: 10;
}

.main-01-title::after {
  content: "";
  display: block;
  width: 50%;
  background-color: #ffffff;
  height: 1px;
  margin: 12px 0;
}

.main-01-desc {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #ffffff;
  z-index: 10;
}

/* Main-02 */
.main-content-02 {
  background-color: #4b475c;
  /* height: 95vh; */
  padding: 70px 20px;
  color: #ffffff;
}

.main-02-title {
  font-size: 20px;
  line-height: 1.2;
  width: 40%;
  margin: 0;
}

.main-02-title::after {
  content: "";
  display: block;
  background-color: #ffffff;
  height: 2px;
  margin: 12px 0 30px 0;
}

.main-02-desc {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin-bottom: 30px;
}

/* Contact */
.contact-content {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0 20px;
  background-color: #242943;
}

.form-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.name-part,
.email-part,
.textarea-part {
  display: flex;
  flex-direction: column;
}

.form-content label {
  margin-bottom: 15px;
}

.form-content input,
.form-content textarea {
  background-color: rgba(212, 212, 255, 0.035);
  margin-bottom: 20px;
  border: none;
  padding: 15px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.form-content input:focus,
.form-content textarea:focus {
  border: 2px solid #1abc9c;
}

.form-content input {
  height: 2.75em;
}

.contact-content :nth-child(4) {
  margin-top: 20px;
  margin-bottom: 30px;
}

.submit-btn {
  width: 160px;
  height: 40px;
  font-size: 13px;
  letter-spacing: 0.2em;
  background-color: #ffffff;
  border: none;
  color: #242943;
  margin-right: 10px;
}

.submit-btn:hover {
  background-color: #1abc9c;
}

.reset-btn {
  width: 100px;
  height: 40px;
  font-size: 13px;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #242943;
  border: 2px solid #ffffff;
}

.reset-btn:hover {
  border-color: #1abc9c;
  color: #1abc9c;
}

.contact-card {
  background-color: #242943;
  color: #ffffff;
}

.contact-card section::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: dotted 1px rgba(212, 212, 255, 0.1);
}

.email-desc,
.phone-desc,
.address-desc {
  display: flex;
  padding: 40px 20px;
}

.contact-card span,
.contact-card p,
.contact-card a {
  font-weight: 300;
  line-height: 1.8;
}

.contact-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-card a {
  border-bottom: dotted 1px;
}

.email-desc::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(assets/mail.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}

.phone-desc::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(assets/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}

.address-desc::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(assets/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}

/* Footer */
.footer-content {
  display: flex;
  flex-direction: column;
  background-color: #242943;
  border-top: dotted 1px rgba(212, 212, 255, 0.1);
  padding: 40px 20px 40px 20px;
}

.icon-list {
  display: flex;
  margin-bottom: 30px;
}

.icon-list li {
  margin-right: 10px;
  padding: 5px;
}

.icon-list span {
  position: absolute;
  z-index: -1000;
}

.icon-list li:first-child a::before {
  content: "";
  display: block;
  background-image: url(assets/twitter.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.icon-list li:nth-child(2) a::before {
  content: "";
  display: block;
  background-image: url(assets/facebook.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.icon-list li:nth-child(3) a::before {
  content: "";
  display: block;
  background-image: url(assets/instagram.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.icon-list li:nth-child(4) a::before {
  content: "";
  display: block;
  background-image: url(assets/tumblr.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.icon-list li:last-child a::before {
  content: "";
  display: block;
  background-image: url(assets/linkedin.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.copyright-list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #9c9c9c;
  opacity: 0.5;
}

.copyright-list a {
  text-decoration: dotted underline;
}

/* Tablet CSS */
@media screen and (min-width: 768px) {
  /* Header */
  .header-content {
    /* height: 75vh; */
    padding-left: 70px;
    padding-right: 70px;
  }

  .header-title {
    font-size: 50px;
    line-height: 1.8;
    letter-spacing: 0.01em;
  }

  .header-set {
    display: flex;
    align-items: center;
  }

  .header-desc {
    width: 400px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .start-btn {
    font-size: 13px;
    padding: 15px;
  }

  /* Main-01 */
  .main-content-01 {
    display: flex;
    flex-wrap: wrap;
  }

  .main-content-01 article {
    width: 50%;
  }

  .card {
    height: 33.3vh;
    padding-left: 45px;
  }

  .main-01-title {
    font-size: 24px;
  }

  .main-01-title::after {
    height: 2px;
  }

  .main-01-desc {
    letter-spacing: 0.3em;
  }

  /* Main-02 */
  .main-content-02 {
    /* height: 45vh; */
    padding: 80px 45px;
  }

  .main-02-title {
    width: 160px;
    font-size: 28px;
  }

  .main-02-title::after {
    margin-top: 15px;
  }

  .main-02-desc {
    font-size: 16px;
  }

  /* Contact */
  .contact-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form-content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .name-part,
  .email-part {
    width: 50%;
    padding: 0 10px 0 10px;
  }

  .textarea-part {
    width: 100%;
    padding: 10px;
  }

  .form-content div:last-child {
    padding: 0 10px 0 10px;
  }

  .email-desc,
  .phone-desc,
  .address-desc {
    padding-left: 40px;
  }

  /* Footer */
  .footer-content {
    padding: 60px 40px 50px 40px;
  }

  .copyright-list {
    flex-direction: row;
  }

  .copyright-list li:first-child::after,
  .copyright-list li:nth-child(2)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0.8em;
    background-color: #9c9c9c;
    margin: 0 15px;
  }
}

/* Pc CSS */
@media screen and (min-width: 1280px) {
  /* Header */
  .header-content {
    padding-left: 85px;
    padding-right: 85px;
  }

  .header-title {
    font-size: 60px;
  }

  .header-desc {
    font-size: 12px;
    width: 400px;
  }

  .start-btn {
    font-size: 15px;
    padding: 16px;
  }

  /* Main-01 */
  .main-content-01 article:nth-child(1),
  .main-content-01 article:nth-child(4),
  .main-content-01 article:nth-child(5) {
    width: 40%;
  }

  .main-content-01 article:nth-child(2),
  .main-content-01 article:nth-child(3),
  .main-content-01 article:nth-child(6) {
    width: 60%;
  }

  .card {
    height: 45vh;
    padding-left: 60px;
  }

  .main-01-title {
    font-size: 26px;
  }

  .main-01-desc {
    font-size: 13px;
  }

  /* Main-02 */
  .main-content-02 {
    padding: 80px 60px;
  }

  .main-02-title {
    width: 190px;
    font-size: 32px;
  }

  .main-02-desc {
    font-size: 18px;
  }

  /* Contact */
  .inner {
    display: flex;
  }

  .contact-content {
    width: 60%;
    padding: 70px 50px 80px 60px;
  }

  .name-part,
  .email-part,
  .textarea-part {
    padding: 15px;
  }

  .form-content {
    font-size: 16px;
  }

  .form-content input,
  .form-content textarea {
    font-size: 18px;
    line-height: 1.8;
  }

  .form-content input {
    height: 3.2em;
  }

  .form-content button {
    margin-left: 10px;
  }

  .submit-btn {
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
  }

  .reset-btn {
    width: 120px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
  }

  .contact-card {
    width: 40%;
  }

  .contact-content {
    border-right: dotted 1px rgba(212, 212, 255, 0.1);
  }

  .email-desc,
  .phone-desc,
  .address-desc {
    padding: 60px;
  }

  .contact-card h3 {
    font-size: 23px;
  }

  .contact-card a,
  .contact-card span,
  .contact-card p {
    font-size: 19px;
  }

  /* Footer */
  .footer-content {
    padding-left: 50px;
  }
}
